<header><h1><a ui-sref="smash">StorySmasher</a></h1>

  <button type="button" class="btn navbar-button" id="mobile-menu-gear" ng-click="vm.menuLaunch()">
    <span class="glyphicon glyphicon-menu-hamburger"  aria-hidden="true"></span>

  </button>
  <button type="button" class="btn navbar-button full-screen-nav" ng-click="vm.smashLaunch()">
    SMASH A STORY
  </button>
  <button type="button" class="btn navbar-button full-screen-nav" ng-show="vm.show.listen" ng-click="vm.listenLaunch()">
    LISTEN
  </button>
  <button type="button" class="btn navbar-button full-screen-nav" ng-show="vm.show.read" ng-click="vm.readLaunch()">
    READ
  </button>
  <button type="button" class="btn navbar-button full-screen-nav" ng-click="vm.signInLaunch()" ng-hide="vm.currentUser.id">
    SIGN IN
  </button>
  <button type="button" class="btn navbar-button full-screen-nav" ng-click="vm.signOut()" ng-show="vm.currentUser.id">
    SIGN OUT
  </button>
  <button type="button" class="btn navbar-button full-screen-nav" ng-click="vm.launchUser()" ng-show="vm.currentUser.id">
    MY SMASHES
  </button>
</header>

<ul class="mobile-menu text-right" ng-show="vm.mobile.menu">
  <li>
    <button type="button" class="btn navbar-menu-button" ng-click="vm.smashLaunch()">
      SMASH A STORY
    </button>
  </li>
  <li ng-show="vm.show.listen">
    <button type="button" class="btn navbar-menu-button" ng-click="vm.listenLaunch()">
      LISTEN
    </button>
  </li>
  <li ng-show="vm.show.read" >
    <button type="button" class="btn navbar-menu-button" ng-click="vm.readLaunch()">
      READ
    </button>
  </li>
  <li ng-hide="vm.currentUser.id">
    <button type="button" class="btn navbar-menu-button" ng-click="vm.signInLaunch()" >
      SIGN IN
    </button>
  </li>
  <li ng-show="vm.currentUser.id">
    <button type="button" class="btn navbar-menu-button" ng-click="vm.signOut()" >
      SIGN OUT
    </button>
  </li>
  <li ng-show="vm.currentUser.id">
    <button type="button" class="btn navbar-menu-button" ng-click="vm.launchUser()" >
      MY SMASHES
    </button>
  </li>
</ul>


<div class="modal" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-center" id="myModalLabel">Sign In</h2>
      </div>
      <div class="modal-body">

        <form novalidate name="signInForm">
    <div class="form-group">
    <label for="username">Pen Name:</label>
    <input type="text" class="form-control" id="username" placeholder="Pen Name" ng-model="vm.signIn.username" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.signIn.password" required="">
  </div>
  </div>
      <div class="modal-footer tiny">
        <button type="button" class="btn btn-default account-button" data-dismiss="modal" ui-sref="smash">
        <span class="glyphicon glyphicon-remove"  aria-hidden="true"></span> CANCEL
        </button>
        <button type="submit" ng-disabled="signInForm.$invalid" class="btn btn-default account-button" ng-click="vm.signInUser(signInForm)">
          <span class="glyphicon glyphicon-ok"  aria-hidden="true"></span> SIGN IN
        </button>
      </div>
    </form>
    </div>
  </div>
</div>


<div class="ui-view"></div>
