html {
  height: 100%; }

body {
  background: #eeeeee;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

header {
  background: #9100e6;
  position: fixed;
  width: 98%;
  height: 60px;
  z-index: 3;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px; }
  header h1 {
    display: inline-block;
    padding-top: 0;
    margin-top: 10px;
    margin-left: 50px;
    color: white;
    font-weight: 300; }

.navbar-button {
  color: #9100e6;
  background: white;
  float: right;
  margin-top: 12px;
  margin-right: 20px;
  border-radius: 20px; }

.btn:focus {
  color: #9100e6;
  outline: none; }

.btn:hover {
  color: #9100e6; }

.modal-backdrop {
  background-color: rgba(255, 255, 255, 0); }

.modal-dialog {
  margin-top: 20vh; }

.modal-header {
  color: #9100e6;
  border: 0;
  font-weight: 300; }

.modal-footer {
  margin-top: 30px;
  text-align: center;
  border: 0; }

.progress-dot {
  height: 10px;
  width: 10px;
  background: white;
  border: 1px solid #9100e6;
  border-radius: 10px;
  margin: 12px 5px 0;
  display: inline-block;
  transition: .4s ease; }

.current-step {
  background: #9100e6;
  transition: .4s ease; }

.menu-next {
  margin-left: 40px;
  background: #9100e6;
  color: white;
  font-weight: 300;
  border-radius: 20px; }

.menu-prev {
  margin-right: 40px;
  background: #9100e6;
  color: white;
  font-weight: 300;
  border-radius: 20px; }

.paper {
  background: white;
  margin-top: 100px;
  padding: 100px;
  min-height: 125vh;
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 0px 2px 2px #d1d1d1;
  -moz-box-shadow: 0px 0px 2px 2px #d1d1d1;
  box-shadow: 0px 0px 2px 2px #d1d1d1; }
  .paper p {
    font-size: 1.2em;
    font-family: serif; }

.roller-popout {
  width: 284px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background: #9100e6;
  border: 1px solid white;
  border-radius: 30px; }
  .roller-popout p {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1em; }

.smash-button {
  width: 144px;
  background: white;
  color: #9100e6;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px; }

.smash-prev {
  background: white;
  color: #9100e6;
  border-radius: 20px; }

.smash-next {
  background: white;
  color: #9100e6;
  border-radius: 20px; }

.focus {
  padding: 5px;
  background: rgba(145, 0, 230, 0.1);
  color: black; }
