.testing {
  width: 42.85714%; }

body {
  background: #dedddc; }

.header {
  background-color: #aed6b8; }

.start-butt {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

.wrap {
  text-align: center;
  clear: both; }

.field {
  text-align: center;
  border: 5px solid #aed6b8;
  background-color: #aed6b8;
  margin: 25px;
  border-radius: 15px;
  padding: 15px; }

.choice {
  text-align: center;
  border: 5px solid #aed6b8;
  background-color: #aed6b8;
  margin: 25px;
  border-radius: 15px;
  padding: 15px; }

p {
  font-size: 1.3em; }

.story {
  font-family: monospace;
  background: white;
  font-size: 1.5em;
  padding: 50px;
  border: 2px solid black; }
