html {
  height: 100%; }

body {
  background: #eeeeee;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

header {
  background: #9100e6;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 3;
  border-bottom: 1px solid #d1d1d1; }
  header h1 {
    display: inline-block;
    padding-top: 0;
    margin-top: 10px;
    margin-left: 50px;
    color: white;
    font-weight: 300; }

.navbar-button {
  color: #9100e6;
  background: white;
  font-weight: 300;
  float: right;
  margin-top: 12px;
  margin-right: 25px;
  border-radius: 20px; }

.btn:focus {
  color: #9100e6;
  outline: none; }

.btn:hover {
  color: #9100e6; }

.modal-backdrop {
  background-color: rgba(255, 255, 255, 0); }

.modal-dialog {
  margin-top: 30vh; }

.modal-header {
  background: #9100e6;
  color: white;
  font-weight: 300; }

.modal-footer {
  position: relative;
  margin-top: 30px; }

.paper {
  background: white;
  margin-top: 100px;
  padding: 100px;
  min-height: 90vh;
  -webkit-box-shadow: 0px 0px 2px 2px #d1d1d1;
  -moz-box-shadow: 0px 0px 2px 2px #d1d1d1;
  box-shadow: 0px 0px 2px 2px #d1d1d1; }
  .paper p {
    font-size: 1.2em;
    font-family: serif; }

.setup-button-next {
  background: #9100e6;
  color: white;
  font-weight: 300;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  right: 0; }

.setup-button-prev {
  color: #9100e6;
  border: 1px solid #9100e6;
  background: white;
  font-weight: 300;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0; }

.progress-indicator {
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  width: 115px; }
  .progress-indicator li {
    font-size: 2em;
    color: #9100e6;
    width: 0px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: circle; }
    .progress-indicator li:first-child {
      margin-left: 15px !important; }

.progress-indicator li.current-step {
  color: #9100e6;
  list-style-type: disc; }
