
<div class="modal" id="storySetup" tabindex="-1" role="dialog" aria-labelledby="storySetup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="storySetup">Welcome to StorySmash!</h4>
      </div>
      <div class="modal-body">
        <p>Let's Smash a Story!</p>
        <p>To begin, tell me about the Hero of the Story:</p>

        <form class="form-inline">
          <div class="form-group">
            <select class="form-control" ng-init='vm.hero.pronoun' ng-model='vm.hero.pronoun'>
              <option value="their">Their</option>
              <option value="his">His</option>
              <option value="her">Her</option>
            </select>
            name is
            <input ng-model="vm.name" type="text">
          </div>
        </form>
        <div class="modal-footer">
          <ul class="progress-indicator">
            <li class="progress-dot current-step"></li>
            <li class="progress-dot"></li>
            <li class="progress-dot"></li>
          </ul>
          <button type="button" class="btn setup-button-next" ng-click="vm.advance = false" data-dismiss="modal" data-toggle="modal" data-target=".bs-example-modal-lg">NEXT >></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="storySetup">Welcome to StorySmash!</h4>
      </div>
      <div class="modal-body">
        <div class="setting-menu" ng-hide="vm.advance">

        <p class="">Where does your story take place?</p>

        <p class="ui-text">It takes place...</p>
        <h2>Setting: {{vm.settingDisplay}}</h2>
        <button class='btn' ng-click="vm.chooseSetting('space')">Space</button>
        <button class='btn' ng-click="vm.chooseSetting('kingdom')">Kingdom</button>
        <button class='btn' ng-click="vm.chooseSetting('western')">Western</button>

      <div class="modal-footer">
        <button type="button" class="btn setup-button-prev" data-dismiss="modal" data-toggle="modal" data-target="#storySetup"><< PREV</button>
        <ul class="progress-indicator">
          <li class="progress-dot"></li>
          <li class="progress-dot current-step"></li>
          <li class="progress-dot"></li>
        </ul>
        <button type="button" class="btn setup-button-next" ng-click="vm.advance = true">NEXT >></button>
      </div>
    </div>

      <div class="setting-menu" ng-show="vm.advance">
        <p>What is the X-Factor that kicks your story up to Awesome Level 9000?</p>

        <p>The X-Factor is...</p>
        <h2>xFactor: {{vm.xFactorDisplay}}</h2>
        <button class='btn' ng-click="vm.choosexFactor('dinosaurs')">Dinosaurs</button>
        <button class='btn' ng-click="vm.choosexFactor('ninjas')">Ninjas</button>
        <button class='btn' ng-click="vm.choosexFactor('lovecraft')">Cthulhu</button>

        <div class="modal-footer">
          <button type="button" class="btn setup-button-prev" ng-click="vm.advance = false"><< PREV</button>
          <ul class="progress-indicator">
            <li class="progress-dot"></li>
            <li class="progress-dot"></li>
            <li class="progress-dot current-step"></li>
          </ul>
          <button type="button" class="btn setup-button-next" data-dismiss="modal">NEXT >></button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2 paper">

    <p ng-bind-html="vm.paragraph1"></p>
    <p ng-bind-html="vm.paragraph2"></p>
    <p ng-bind-html="vm.paragraph3"></p>
    <p ng-bind-html="vm.paragraph4"></p>
    <p ng-bind-html="vm.paragraph5"></p>
    <p ng-bind-html="vm.paragraph6"></p>
    <p ng-bind-html="vm.paragraph7"></p>
  </div>
</div>
<!-- <script type="text/javascript">
$(document).ready(function(){
    $('#storySetup').modal('show');
});
</script> -->
