<br><br>
<div class="whole" ng-hide="vm.buhbye">


<h1>OKAY LET'S DO THIS!</h1>
<br><br>
<h3 class="text-center">What is your Main Character's Name?</h3>
<div class="name field">
  <form action="" class="form-inline">
    <div class="form-group">
      <p>
        <select class="" ng-model="vm.pronoun">
          <option value="their">Their</option>
          <option value="his">His</option>
          <option value="her">Her</option>
        </select>
        name is
        <input class="form-control" type="text" name="name" ng-model="vm.hero">
      </p>
    </div>
  </form>
</div>

<div class="setting wrap">
<h2>Where does your story take place?</h2>

<div class="setting choice" ng-click='vm.settingPicker("kingdom")'>
  <h3>The Kingdom of Magic</h3>
  <p>It is a Kingdom, you guessed it, full of magic.</p>
</div>
<div class="setting choice" ng-click='vm.settingPicker("space")'>
  <h3>Space Station X-99</h3>
  <p>In the future, the goverment will actually fund space travel, and those lucky peeps will live... IN SPACE!</p>
</div>
</div>

<div class="ingredient-x wrap">
<h2>What is the X-Factor that kicks your story up to AWESOME LEVEL 9000 (or more!)??</h2>
<div class="ingredient choice" ng-click='vm.xfactorPicker("dinos")'>
  <h3>Dinosaurs!</h3>
  <p>Their name means 'terribly lizards', but more accurately they are 'Super Rad Bird Monsters!'</p>
</div>
<div class="ingredient choice" ng-click='vm.xfactorPicker("ninjas")'>
  <h3>Ninjas!</h3>
  <p>Just who are those silent assassins under their masks? Hopefully not problematic Asian stereotypes, I can tell you that!</p>
</div>
</div>



<div class='confirm wrap'>
  <h2>Ready to Smash This Story???</h2>
  <div class="confirm field">

  <p>Okay, so, our hero, {{vm.hero}}, lives in {{vm.setting}}, with a {{vm.xfactor}} lurking around every corner.</p>
  <p>Is this the story you want to tell?</p>
  <button type="button" ng-click="vm.smash()" class='btn btn-success' name="button">HECK YES IT IS, SMASH THAT STORY!</button>
</div>
</div>

</div>
<div ng-show="vm.storytime">
<div class="story">
  <p ng-bind="vm.smashedStory"></p>

</div>
<button type="button" ng-click="vm.smash()" class='btn btn-success' name="button">RE-SMASH, PLEASE!</button>
</div>
