@import 'variables';

html {
  height: 100%;
}

body {
  background: rgb(238, 238, 238);
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

header {
  background: $main;
  top: 0;
  position: fixed;
  width: 98%;
  height: 60px;
  z-index: 3;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  h1 {
    display: inline-block;
    padding-top: 0;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: 300;
    a{
      color: white;
      text-decoration: none;
    }
    a:hover, a:active, a:focus {
      color: white;
      text-decoration: none;
      outline: 0;
    }
  }
}

#mobile-menu-gear, .mobile-menu {
  display: none;
}

@media (max-width: 800px) {
  .full-screen-nav {
    display: none;
  }
  #mobile-menu-gear {
    display: inline-block;
  }
  .mobile-menu {
    display: block;
  }

}
.mobile-menu {
  margin-top: 60px;
  list-style-type: none;
}

.mobile-menu.ng-hide {
  animation-name: fadeOut;
  animation-duration: .3s;
  animation-timing-function: ease;
}
.mobile-menu.ng-hide-remove {
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-timing-function: ease;
}

.navbar-menu-button {
  color: $main;
  background: white;
  margin-top: 12px;
  margin-right: 35px;
  border-radius: 20px;
}

.navbar-button {
  color: $main;
  background: white;
  float: right;
  margin-top: 12px;
  margin-right: 20px;
  border-radius: 20px;
}

.btn:focus {
  color: $main;
  outline: none;
}

.btn:hover {
  // color: white;
  // -webkit-box-shadow: 0px 0px 2px 2px rgba(209,209,209,1);
  // -moz-box-shadow: 0px 0px 2px 2px rgba(209,209,209,1);
  // box-shadow: 0px 0px 2px 2px rgba(209,209,209,1);
}
