.paper {
  background: white;
  margin-top: 100px;
  padding: 100px;
  // position: static;
  // bottom: 0;
  min-height: 80vh;
  p {
    font-size: 1.5em;
    font-family: serif;;

  }
}

.prompt {
  z-index: 50;
  margin-left: 20px;
  background: purple;
  padding: 20px;
  // width: 450px;
  border-radius: 15px;
  position: fixed;
  margin-top: 10vh;
  margin-right: 40px;
}
.response {
  button {
    background-color: white;
    color: gray;
    border-radius: 10px;

  }
  color: white;
  z-index: 50;
  margin-top: 30vh;
  margin-left: 40px;
  background: gray;
  padding: 15px;
  border-radius: 15px;
  position: fixed;
  right: 20px
}

.prompt-4 {
  margin-top: 0;
}
.ng-hide-add {
  animation: .8s ease 0s bounceOutUp ;
}

.ng-hide-remove {
  animation-duration: .8s;
  animation-timing-function: ease;
  animation-delay: .5s;
  animation-name: bounceInUp;
  animation-fill-mode: backwards;
}
//
// .ng-hide-add {
//   animation: .8s ease 0s bounceOutDown ;
// }
//
// .ng-hide-remove {
//   animation-duration: .8s;
//   animation-timing-function: ease;
//   animation-delay: .5s;
//   animation-name: bounceInDown;
//   animation-fill-mode: backwards;
// }

.ui-text {
  color: white;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}
.pronoun-dropdown {
  background-color: transparent;
}

select {
  margin-right: 15px;
  width: 80px !important;
}

input.name-input {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  box-shadow: none;
  transition: .4s ease;
  width: 175px;
  text-align: center;

  border-bottom: 2px solid white;
  color: white;
  font-size: 1.7em;
  margin-left: 15px;
  margin-right: 40px;

  &:focus{
    outline: 0;
    border-bottom: 5px solid white;
    box-shadow: none;
    width: 225px;
    transition: .4s ease;
  }
}
