@import 'variables';

.modal-backdrop {
   background-color: rgba(255, 255, 255, 0);;
}

.modal-dialog {
  margin-top: 20vh;
}

.modal-header {
  color: $main;
  // color: white;
  border: 0;
  font-weight: 300;
  padding-bottom: 0;
}

.byline {
  color: black;
  font-style: italic;
}

.sub-head {
  margin-bottom: 20px;
  color: $main;
}

.sign-in-link {
  // margin: 0px;
  a{
    color: $main;

  }

}

.name-field {
  font-family: serif;
  margin-top: 30px;
  text-align: center;
  font-size: 1.5em;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid $main;
}

.setup-text {
  font-size: 1.2em;
  height: 34px;
}

.user-input {
  font-family: serif;
  font-size: 1.5em
}
.setup-selector {
  padding: 10px 10px;

}

.bubble {
  border-radius: 55px;
  background: $highlight;
  text-align: center;
  padding: 10px 20px;
}

.selected {
  background: $main;
  color: white;

}

.modal-footer {
  margin-top: 30px;
  text-align: center;
  border: 0;
}

.progress-dot {
  height: 10px;
  width:10px;
  background: white;
  border: 1px solid $main;
  border-radius: 10px;
  margin: 12px 5px 0;
  display: inline-block;
  transition: .4s ease;
}

.current-step {
  background: $main;
  transition: .4s ease;
}

.menu-next {
  margin-left: 40px;
  background: $main;
  color: white;
  font-weight: 300;
  border-radius: 20px;
}

.menu-prev {
  margin-right: 40px;
  background: $main;
  color: white;
  font-weight: 300;
  border-radius: 20px;
}

.modal-footer.tiny {
  margin-top: 0px;
}

.account-button {
  background: $main;
  border: 1px solid white;
  border-radius: 48px;
  color: white;
  text-shadow: none;
  &:hover {
    background: $main;
    text-shadow: none;
    color:white;
  }
}
